@{
    ViewData["Title"] = "Personnes Page";
    @model IEnumerable<MPersonne>;
    var msgValid = ViewBag.Message;

}

<div class="text-center">
    <h1 class="titreMain">Liste des personnes enregistrées</h1>
      @if (!string.IsNullOrEmpty(msgValid))
    {
        <div class="alert alert-success">@msgValid</div>
    }
    <ul>
    @foreach (var p in Model)
    {
       <li class="listeP">
            <span class="listeElem">@p.nomPersonne @p.prenomPersonne </span>
            <div class="listeLien"><a class="link-warning" asp-area="" asp-controller="Personne" asp-action="Modifier" asp-route-id="@p.idPersonne">Modifier</a>
            <a class="link-danger toto" asp-area="" asp-controller="Personne" asp-action="Effacer" asp-route-id="@p.idPersonne">Effacer</a></div> 
                 
       </li>
    }
    </ul>

    <div>
        <a class="link-success" asp-area="" asp-controller="Personne" asp-action="Creer">Ajouter une personne</a>
    </div>
   
</div>
